
<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit "Log in", class: "btn btn-primary btn-lg" %></div>
  <div>--------------OR Login_with------------------<div>
  <div><button type="button" class="btn btn-info"><a href="/users/auth/facebook">Sign in with Facebook</a></button> 
  <button type="button" class="btn btn-info">Twitter</button> 
  <button type="button" class="btn btn-info">Linkdin</button></div>
<% end %>
<%= render "devise/shared/links" %>